---
title: 'Contact'
tags: []
collection: pages
---

.contact.col-sm-4
  //- .circle.large: img(src='../assets/hackers_of_sv-thumb.jpg')

  each c in resume.contact.social
    h4 #{c.title}
    a(href=c.url) #{c.address}

  h4 Resume
  a(href='/assets/Devon_Zuegel--Resume.pdf') PDF

  h4 Medium
  a(href='https://medium.com/@devonmarisa') @devonmarisa

.col-sm-8
  :markdown
    This site is where I can riff on ideas, be wrong, and learn from those mistakes. Of course I try to be correct, and I always write what I believe to be true, but the greatest value most often comes from someone messaging me to point out a body of research I missed or angle I misinterpreted.

    In this vein, please don't hesitate to let me know what you think! The whole point is to share what I know and to learn the rest.


.col-xs-12

  h4 Instagram
  a(href="http://www.instagram.com/devon_marisa/") devon_marisa
  <div class="space"></div>
  <script src="//lightwidget.com/widgets/lightwidget.js"></script>
  iframe( src='//lightwidget.com/widgets/320ccff5db125348a54fd436b8fb14bc.html'
          scrolling="no" allowtransparency="true" class="lightwidget-widget"
          style="width: 100%; border: 0; overflow: hidden;")

  h4 Spotify
  .space.triple
  iframe( src='https://embed.spotify.com/?uri=spotify%3Auser%3A123589098%3Aplaylist%3A4qo0rRTKF8bFogGPWc7eJ3&theme=white'
          width='300' height='380' frameborder='0' allowtransparency='true')

  .space.triple

//- .row.headlines
//-   h5 Tweet tweet
//-   .space.triple
//-   ul.normal-line-height
//-     a(class='twitter-timeline' href='https://twitter.com/devonzuegel'
//-       data-widget-id='701927500104933376'
//-       data-chrome='noheader noborders nofooter' style='margin:auto')
//-       | Tweets by @devonzuegel
//-   script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
