include ../partials/_head.jade

body
  //if lt IE 7
    p.browsehappy
      | You are using an
      strong
        | outdated browser
      |. Please
      a(href="http://browsehappy.com/")
        | upgrade your browser
      | to improve your experience.

  #nav-spacer
  nav.navbar.navbar-default.navbar-fixed-top.custom(role='navigation')
    .container-fluid

      //- Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          //- span.sr-only Toggle navigation
          span: i.fa.fa-bars
        a.navbar-brand(href='../../') Devon Zuegel

      //- Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          each p in getCollection('pages').toJSON()
            li(class=(document.url === p.url) ? 'active' : null)
              a(href=p.url)
                | #{p.title}
          li: a(href='/assets/Devon_Zuegel--Resume.pdf') Resume

  #wrapper

    #content
      .col-md-8
        #main-content!= content
        br

      .col-md-4: #side-bar

        .row.contact
          .circle.large
            img(src='../assets/hackers_of_sv-thumb.jpg')
          .contact-info
            each c in resume.contact.social
              h4 #{c.title}
              a(href=c.url) #{c.address}

        .row.headlines
          h5 Programming Music
          .space.triple
          iframe( src='https://embed.spotify.com/?uri=spotify%3Auser%3A123589098%3Aplaylist%3A4qo0rRTKF8bFogGPWc7eJ3&theme=white'
                  width='300' height='380' frameborder='0' allowtransparency='true')
          .space.triple

        .row.headlines
          h5 Top posts
          ul.normal-line-height
            each p in getCollection('posts').toJSON()
              if (p.highlight)
                .headline: a(href=p.url).title #{p.title}

        .row.headlines
          h5 Tweet tweet
          .space.triple
          ul.normal-line-height
            a(class='twitter-timeline' href='https://twitter.com/devonzuegel'
              data-widget-id='701927500104933376'
              data-chrome='noheader noborders nofooter' style='margin:auto')
              | Tweets by @devonzuegel
          script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    #footer.col-lg-12
      h4 Last modified on #{getLastModifiedDate()}


  != getBlock('scripts').add(site.scripts, {defer:false}).toHTML()