include ../documents/views/includes/head

body
  //if lt IE 7
    p.browsehappy
      |You are using an 
      strong
        |outdated browser
      |. Please 
      a(href="http://browsehappy.com/")
        |upgrade your browser
      |to improve your experience.

  #nav-spacer
  nav.navbar.navbar-default.navbar-fixed-top.custom(role='navigation')
    .container-fluid

      //- Brand and toggle get grouped for better mobile display 
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          //- span.sr-only Toggle navigation
          span: i.fa.fa-bars
        a.navbar-brand(href='../../') Devon Zuegel

      //- Collect the nav links, forms, and other content for toggling 
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          each p in getCollection('pages').toJSON()
            li(class=(document.url === p.url) ? 'active' : null)
              a(href=p.url)
                | #{p.title}

  #content
    .col-md-9: #main-content!= content
    .col-md-3: #side-bar

      .circle
        img(src='https://scontent-a-pao.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/10624925_10152355110703443_8470920206731569812_n.jpg?oh=b07b63c7d77ff1ae92838e9abcbf3d60&oe=549B0314')
      .contact-info
        each s in site.contact
          h4 #{s.title}
          a(href=s.url) #{s.address}

  != getBlock('scripts').add(site.scripts, {defer:false}).toHTML()