---
layout: default
---

article#post.post
  h1 #{document.title}
  a(href=document.orig_url).light by #{document.author}
  .time(style='margin-top:2px') #{moment(document.date_published).format('DD MMMM YYYY')}
  .space
  .space
  .space
  .space
  .space
  .post-content!= content